.projects {
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0;
        gap: 10px;
        button {
            cursor: pointer;
            border: 1px solid var(--main-color);
            background: white;
            padding: 6px 10px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            font-size: 20px;
            &.active {
                background-color: var(--main-color);
                border: none;
                color: white;
            }
        }
    }
    .container {
        display: flex;
        width: 1100px;
        gap: 10px;
        height: 450px;
        position: relative;
        .project {
            width: 100%;
            display: flex;
            height: 100%;
            padding: 10px;
            overflow: hidden;
            background-color: white;
            justify-content: center;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            flex: 0 0 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform-style: preserve-3d;
            transform-origin: center bottom;
            backface-visibility: hidden;
            transition: all .5s ease-in-out;
            .project-description {
                flex: 1 1;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    font-size: 1.5rem;
                }
                .description {
                    line-height: 1.5;
                }
                .technologies {
                    .technologies-title {
                        font-size: 1.2rem;
                    }
                    .technologies-data {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        .technologie {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        
                    }
                    .link-project {
                        display: flex;
                        margin-top: 20px;
                        gap: 20px;
                        .link-button {
                            font-size: 1rem;
                            gap: 10px;
                            
                        }
                    }
                }
            }
            .project-image {
                width: 400px;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .prev-button {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            left: -25px;
            background: transparent;
            border: none;
            color: var(--main-color);
            font-size: 30px;
            cursor: pointer;
            z-index: 999;
            bottom: 50%;
            transform: translateY(-50%);
        }
        .next-button {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            right: -7px;
            background: transparent;
            border: none;
            color: var(--main-color);
            font-size: 30px;
            cursor: pointer;
            bottom: 50%;
            z-index: 999;
            transform: translateY(-50%);
        }
        .bullet {
            display: flex;
            position: absolute;
            left: 50%;
            color: var(--main-color);
            z-index: 9;
            bottom: 5px;
            font-size: 12px;
            gap: 10px;
            transform: translateX(-50%);
            li {
                cursor: pointer;
            }
        }
    }
}

@media (min-width:768px) and(max-width: 1200px) {
    .projects .container {
        width: 900px;
        .project-description {
            line-height: 1;
            .description {
                .title {
                    margin: 5px 0;
                }
                .description {
                    line-height: 1.1;
                }
            }
            .technologies {
                .technologies-title {
                    margin: 5px 0;
                }
            }
        }
    }

}

@media(max-width: 767px) {
    .projects .container {
        width: 80%;
        height: 400px;
        .project {
            .project-image {
                display: none;
            }
            .project-description {
                .description {
                    margin: 5px 0;
                    line-height: 1;
                    h4 {
                        margin: 0;
                        font-size: 1rem;
                    }
                }
                .technologies {
                    margin-bottom: 10px;
                    .technologies-title {
                        margin: 0 0 10px;
                        font-size: 0.9rem;
                    }
                    .technologies-data {
                        .technologie {
                            span {
                                display: none;
                            }
                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}