.aboutMe-description {
    margin: 50px 0;
}
.aboutMe-description .container-fluid {
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe-description .container-fluid .about-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboutMe-description .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutMe-description .text h3 {
    font-size: 5em;
    margin: 0;
    font-weight: bold;
    color: white;
}
.aboutMe-description .text h1.finished {
    border-right: none;
}
.aboutMe-description .text .role {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5;
    margin: 5px 0 0;
    color: white;
}
.aboutMe-description .text .role > div {
    display: inline-block;
    margin-right: 10px;
}
.social {
    display: flex;
    margin: 20px 0;
    li {
        margin-right: 10px;
        a {
            background-color: #313131;
            color: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
            transition: var(--main-transition);
            border-radius: 50%;
        }
    }
}

@media(max-width: 767px) {
    .aboutMe-description {
        .aboutMe-container {
            width: 100%;
            padding: 20px;
            .me .box:first-of-type {
                flex-direction: column;
            }
        }
    }
}